* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    margin-top: 47px;
    margin-left: 42px;
    }
    




.link-menu {

    line-height: 21px;
    font-weight: 400px;
    font-size: 14px;
    margin-right: 32px;
    text-align: center;
    letter-spacing: 0,875px;
    color: rgba(23, 35, 61, 1) ;
    cursor: pointer;
    }