
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
margin-top: 47px;
margin-left: 42px;
}

.link-menu {

    line-height: 21px;
    font-weight: 400;
    font-size: 14px;
    margin-right: 32px;
    text-align: center;
    letter-spacing: 0.875px;
    color: rgba(23, 35, 61, 1) ;
    cursor: pointer;
    }
    .button-sing-up{
    border-radius: 6px;
 border: 1px solid rgba(76, 181, 56, 1);
 background: rgba(111, 191, 68, 1);
 width: 124px;
 height: 51px;
 cursor:pointer;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 1px;
color:#FFFFFF
    }

img {

    margin: 80px 0 0 80px ;
    display: inline-block ;
}
div{
    display: inline-block ;
}

h1{

font-weight:600;
font-size: 62px;
line-height: 82px ;
letter-spacing : 0.6px ;
 color: rgba(22, 26, 73, 1);
}

p {
    font-weight:400;
font-size: 18px;
line-height : 33px ;
letter-spacing : 0.5px ;
 color: rgba(75, 80, 90, 1);
 width: 493px;

}

.button-lean-more {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1px;
    color: rgba(111, 191, 68, 1);
     cursor: pointer;
     background: transparent;
     border: none;

}

































































































































































































































































































































































































































































































