.box{
background:#ff1395;
width:50px ;
height: 50px ;
margin: 10px ;
}

.box-2{

    background: #ffff00 
}

.box-3{
background:#0003ff ;

}

.box-4{
    background: red ;
    width:80px ;
    height: 80px ;
    border-color: black;
    margin:20px ;
}
/*DISPLAY

BLOCK

- vem como div,section,P,H1
ocupa 100% da largura do elemento pai
- ocupa toda sua linha
- altura definida com o conteudo 
- podemos definir height, widht
- podemos definir valores de margin

INLINE - 
tem como padrão a, span,b
elementos em linha 
- não permite alterar o height, widht
- não podemos definir: margin top e botton
- ganha o comportamento de uma palavra
- ele usa o elemento como se fosse uma palavra

INLINE-BLOCK -
- elementos em linha, porem com a caracteristica do display-block
- altura e largura podem ser alterados
-possui caracteristicas parecidas, mesma linha, porem eu consigo alterar o widht e height
*/

