/*
#titulo {
 color: red;
font-size: 55px;

}
#id {
color: brown;
font-size: 20px;
font-weight: bold;

}
#botao 
{background: green;

}

#outro-botao 
{background: chocolate;

}


.texto, .botao, p, #segundo-botao
{color: red 


}
*/



h1 {
color: red;
font-size: 64px;
font-weight: lighter;
font-family:'roboto',sans-serif;

}

p {
color: blue;
font-size: 30px;
font-weight: 100;
font-family:'roboto',sans-serif;
font-style: italic; /* estilo da font*/
line-height: 58px;/* altura das linhas*/
letter-spacing: 10px;/* espaço entre as letras*/
word-spacing: 40px;/*espaçamento entre palavras*/
text-align: center;/* centralização do texto*/
text-transform: capitalize; /* linhasdiferentes*/
text-decoration: underline;/* linha embaixo ou encima do texto*/
}













